*{
 margin:0 auto;
 padding: 0px;
 text-align: center;
 font-family:Arial, Helvetica, sans-serif;   
}
#encabezado{
width: 1200px;
height: 150px;
}
.logo{
width: 400px;
height: 150px;
float: left;
padding-left: 100px;
padding-right: 100px;
}
.logo:hover{
    background-color: beige;
}
li{
    display: inline;
    padding-top: 75px;
}
#nav{
    padding-top: 68px;
}
.navegador{ 
 text-decoration: none;
 color: brown;
 padding-left: 50px;
 padding-right:50px ;
 font-size: 25px;
}
.navegador:hover{
 color: black;   
}
.contenedor{
    width: 1200px;
    height: 500px;
}
.caja1{
width: 500px;
height: 500px;
float: left;
}
.caja2{
    width: 100px;
    height: 500px;
    float: left;
}
.caja3{
    width: 600px;
height: 300px;
font-size: 25px;
text-align: center;
padding-top:200px ;
background-color:bisque ;
float: left;
}
span{
    color: brown;
}
.banner{
    border-color: black;
    border-style: solid;
    width: 1200px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}
.contenedor2{
     width: 1200px;
    height: 350px;
    margin-bottom: 10px;
}
.imagen1{
    width: 500px;
    height: 350px;
    float: left;
}
.imagen2{
    width: 500px;
    height: 350px;
    float: left;
    margin-left: 200px;
}
.footer{
    width: 1200px;
    height: 70px;
}
