*{
    margin:0 auto;
    padding: 0px;
    text-align: center;
      font-family: fantasy;
        background-color:  rgb(73, 72, 72)
}
header{
   height: 250px;
    padding: 25px;
  background-color:  rgb(73, 72, 72);
   margin-top: 30px;
}
.logo{
    width: 1500px;
     margin-bottom: 50px;
}
img{
    width: 1000px; height: 200px;
}

ul{
    margin: 25px;
}
li{
    display: inline;
    font-size:30px ;
    margin: 50px;
}

#marca2:visited{
color: rgb(255, 166, 0) ;
}
.huber{
text-decoration: none;    
 color: rgb(206, 164, 116);
}
.titulo{
   font-size:60px ;
 color: rgb(206, 164, 116);
}
.texto{
font-size:40px ;
 margin-top: 70px;
 color: rgb(206, 164, 116);
   width: 1800px;
height: 1350px;
margin-top: 100px;
}
 footer{
   height: 80px;
  margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 50px;
    background-color:  rgb(73, 72, 72);
 }
 .foot{
  text-decoration: none;  
  text-decoration: none;    
 color: rgb(206, 164, 116);
 width: 1000px;
 }

.foot:hover{
color: rgb(255, 166, 0) ;
}
.imbio{
    width: 800px;
    height: 500px;
    margin-top: 50px;
}

