*{
     margin:0 auto;
    padding: 0px;
    text-align: center;   
}
header{
    margin-top: 20px;
    margin-bottom: 40px;
    color: aliceblue;
    font-size: 20px;
}
body{
    background-image:url(img/images.jpg) ;
    background-size: cover;
}
.caja1{
color: aliceblue;
 font-size: 25px;
}
