*{
 font-family: Arial, Helvetica, sans-serif;
 margin:0 auto;   
 width: 1200px;
 padding: 0px;
}
header{
  background-color: aquamarine;  
  height:180px;
    margin-top: 10px;
}
.logo{
  background-color: rgba(165, 42, 42, 0.836);  
  width: 600px;
  height: 180px;float: left;
}
#logo1{
width: 250px;
float: left;
padding-left:180px;
}
.logo:hover{background-color: brown;}
ul{
    background-color:goldenrod;
    width: 600px;
    height: 90px;
    float: left;
    list-style: none;
    padding-top: 90px;
}
li{
    display: inline;
    padding-left: 95px;
}
.brown{
    text-decoration: none;
     color: brown;
}
.brown:hover{
    color: black;
}
main{
    background-color: green;
    height: 600px;
      margin-top: 10px;
}
video{
    width: 600px;
    height: 600px;
    float: left;
}
h2{
    font-size: 25px;
    background-color: beige;
    width: 600px;
    height: 350px;
    float: left;
    padding-top:250px ;
    text-align: center;
}
span{
    color: brown;
}
article{
    border: 2px black solid;
    height: 80px;
     margin-top: 10px;
     text-align: center;
     padding-top: 70px;
     font-size: 20px;
}
.ideas{
    background-color: coral;
    height: 280px;
    margin-top: 10px;
}
.banner{
    width: 500px;
    float: left;
}
.banner2{
    width: 500px;
        float: right;
}
footer{
     height: 70px;
     margin-top: 10px;
}