*{
    margin:0 auto;
    padding: 0px;
    text-align: center;
    font-family: fantasy;
     background-color:  rgb(73, 72, 72)
}
header{
   height: 250px;
    padding: 25px;
  background-color:  rgb(73, 72, 72);
  margin-top: 30px;
}
.logo{
    width: 1500px;
     margin-bottom: 50px;
}
img{
    width: 1000px; height: 200px;
}
ul{
    margin:25px;
}
li{
    display: inline;
    font-size:30px ;
    margin: 40px;
}
#marca:visited{
color: rgb(255, 166, 0) ;
}
.huber{
text-decoration: none;    
 color: rgb(206, 164, 116);
}
p{
font-size:40px ;
 margin-top: 100px;
 color: rgb(206, 164, 116);
}
.caja{
    width: 1200px;
    height: 600px;

    margin-top: 100px;
}
.imagen1{
 float: left;   
 width: 600px;
 height: 600px;
}
.imagen2{
 float: left; 
  width: 600px;
height: 300px;
 }
 .imagen3{
 float: left; 
  width: 600px;
 height: 300px;
 }
 footer{
   height: 80px;
  margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
    background-color:  rgb(73, 72, 72);
 }
 .foot{
  text-decoration: none;  
  text-decoration: none;    
 color: rgb(206, 164, 116);
 }

.foot:hover{
color: rgb(255, 166, 0) ;
}