*{
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
img{
    width: 250px;
    height: 250px;

}
.contenedor{
margin-top: 150px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
#texto{
  font-family: "Story Script", sans-serif;
  margin-top: 30px;
  font-size: 20px;
}
nav{
    margin-top: 25px;
     font-family: "roboto";
    font-size: large;
    border: 2px orange solid;
    background-color: yellow;
    width: 100px;
    height: 45px;
    padding-top: 25px;
}
img:hover{
       filter: blur(25px);
}